    <% if @contract.match.flat1.user == current_user %>
      <% current_user_flat = @contract.match.flat1 %>
      <% other_user_flat = @contract.match.flat2 %>
    <% else %>
      <% current_user_flat = @contract.match.flat2 %>
      <% other_user_flat = @contract.match.flat1 %>
    <% end %>
<br>
<br>
<div  class="puff-in-center modal  bd-example-modal-lg" id="ContractSigned" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content match-modal-container p-5 box-shadow-custom-lg">
        <div class="match-modal-content">
          <p class="text-left">
            <i class="heartbeat h4 text-white fas fa-heart"></i>
          </p>
          <p class="text-right">
            <i class="heartbeat h4 text-white fas fa-heart"></i>
          </p>
          <h1 class="puff-in-center-2 display-3 text-center text-white font-weight-bold mb-0 ">CONGRATS !</h1>
          <h2 class="puff-in-center-2 display-3 text-center text-white font-weight-bold mb-0 ">Flatender is born</h2>
          <h3 class="puff-in-center-2 h3 text-center text-white f font-weight-bold mb-3">MANY THANKS TO OUR WONDERFUL TEACHERS AND OUR GREAT TEAM</h3>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center logo">
    <h1 class="text-primary font-weight-bold ml-5 my-3"> Congratulations <span class="text-secondary"><%=current_user.name%></span> <i class="fas fa-rocket text-primary"></i></h1>
    <h2 class="text-secondary font-weight-bold ml-3">
      <% if other_user_flat.user.photo.attached? %>
          <%= cl_image_tag other_user_flat.user.photo.key,  height: 150, width: 150, crop: :fill, class: "avatar-large rounded-circle mr-3"%>
        <% else %>
          <%= image_tag "noavatar.png", class: "avatar-large rounded-circle mr-3"%>
        <% end %>
      <span class="text-primary"><%= other_user_flat.user.name %></span> wants also to exchange his flat with yours
  </h2>
  </div>
    <h4 class="text-secondary font-weight-bold ml-5 text-center">Just one more step and you'll be ready to live and study abroad <i class="fas fa-flag-checkered text-secondary"> </i> <i class="fas fa-flag-checkered text-secondary"></i></h4>
    <div class="border border-primary ml-5 my-3">
      <h5 class="text-secondary font-weight-bold ml-5 mt-3"> Here you are the terms of the contract beetween <span class="text-primary"> you and <%= other_user_flat.user.name %></span></h5>
      <h5 class="text-primary font-weight-bold ml-5 mb-5" >If both of you sign this contract : </h5>
      <h5 class="text-secondary  font-weight-bold ml-5 mb-3"><i class="fas fa-house-user"> </i> Your next address will be : <%= other_user_flat.address %></h5>
      <h5 class="text-primary  font-weight-bold ml-5 mb-3" ><i class="fas fa-key"></i> You agree to rent your flat to <%= other_user_flat.user.name %> at the price of euros <span class="text-secondary"><%= current_user_flat.rent %> euros </span></h5>
      <h5 class="text-primary  font-weight-bold ml-5 mb-3" > <span class="text-secondary"><i class="fas fa-exchange-alt"></i> <%=other_user_flat.user.name %> rents his flat at the price of euros <%= other_user_flat.rent %> euros </span></h5>
      <h5 class="text-secondary font-weight-bold ml-5 mb-3" >In that case :</h5>

        <% if other_user_flat.rent > current_user_flat.rent %>
        <% diff = other_user_flat.rent - current_user_flat.rent %>
        <h5 class="text-primary font-weight-bold ml-5" > You agree to settle to <%=  other_user_flat.user.name  %> every renting month the amount of euros <%=  diff %></h5>
        <% else %>
        <% diff = current_user_flat.rent - other_user_flat.rent %>
        <h5 class="text-primary font-weight-bold ml-5"> <span class="text-secondary"><i class="fas fa-wallet"></i> <%= other_user_flat.user.name %></span> agrees to settle to you every renting month the amount of euros <%=  diff %></h5>
        <% end  %>


      <h5 class="text-primary font-weight-bold ml-5" ><i class="fas fa-calendar-week"></i> Your exchange will start around September 2021 for a Year</h5>
    </div>

    <div >
      <%= link_to 'Generate pdf', pdf_path(@contract), :format => :pdf, :target=>'blank', class: "btn-style-01 btn-lg p-3 text-white rounded text-uppercase" %>
      <%= link_to 'sign your contract', sign_contract_path(@contract), :format => :pdf, :target=>'blank', class: "btn-style-01 btn-lg p-3 text-white rounded text-uppercase" %>
    </div>

</div>

