<section id="matches" class="mt-5">
<!-- navigation dashboard   -->
  <div id="dashboard-nav" class="bg-white-smoke border-right col-2">
    <hr class="my-5">
    <ul class="dashboard-menu">
      <li class="dashboard-menu-item">
        <a href="<%= user_path(current_user) %>" class="h6">
          <i class="fas fa-user h5 mr-3"></i> My profile
        </a>
      </li>
      <li class="dashboard-menu-item active">
        <a href="<%= myflats_path %>" class="h6">
          <i class="fas fa-building h5 mr-3"></i> My flats
        </a>
      </li>
      <li class="dashboard-menu-item">
        <a href="<%= searches_path() %>" class="h6">
          <i class="fas fa-search h5 mr-3"></i> My searches
        </a>
      </li>
      <li class="dashboard-menu-item">
        <a href="<%= matches_path() %>" class="h6">
          <i class="fas fa-heart h5 mr-3"></i> My Matches
        </a>
      </li>
    </ul>
    <div class="match-nav">
       <% @matchs.each do |match| %>
          <% if match.flat1.user == current_user
            user = match.flat2.user
          else
            user = match.flat1.user
          end %>
        <ul class="matches-menu">

          <li class="matches-menu-item <%= "online" if user.online? %> ">
            <a href="<%= match_path(match) %>">
              <div class="avatar-wrapper d-inline-block mr-2">
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key,  height: 150, width: 150, crop: :fill, class: "avatar rounded-circle border border-white"%>
              <% else %>
                  <%= image_tag "noavatar.png",  height: 150, width: 150, crop: :fill, class: "avatar rounded-circle border border-white"%>
              <% end %>
              </div>
              <%= user.name %> <span class="online-badge badge badge-pill badge-success text-white small">online</span>
            </a>
          </li>
        </ul>
      <% end %>
    </div>

  </div>



  </div>

<!-- / navigation dashboard   -->










<div class="messages-container flex-grow-1 pt-4">
  <div class="row">
      <div class="col-12 p-5">
        <a href="<%= myflats_path %>" class="h6 text-primary">
          < return to my flats
        </a>
        <hr class="my-4 border-0">
        <div class="rounded-lg p-4 bg-white-smoke ">
          <h4>Edit my profil</h4>
          <%= render 'shared/form', flat: @flat %>
      </div>
   </div>
</div>




















</section>


