<div class="container">
  <div class="row">
    <div class="col-6 mx-auto p-3">
        <% @flats.each do |flat| %>
            <ul class="list-unstyled cards-flat p-4">
                <li><%= flat.title %></li>
                <li><%= flat.presentation %></li>
                <li><%= flat.address %></li>
                <li><%= flat.rent %></li>
                <li>Proposé par <%= flat.user.name %></li>
            </ul>
        <% end %>
    </div>
  </div>
</div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


