<section id="flat">
  <div class="controller">
    <h1><%= @flat.title %> </h1>
    <div class="row">
      <div class="col-7">
         Futur photo
        <div id="presentation">
          <p><%= @flat.presentation %></p>

        </div>
      </div>
      <div class="col-5" data-controller="like">
        Proposed by:
        <br>
        <b><%= @flat.user.name %></b>

        <% if  current_user %>
          <% like = Like.find_by(user_id: current_user.id, flat_id: @flat.id) %>
          <% if   Like.where(user_id: current_user.id, flat_id: @flat.id).count != 0 %>
            <button id = "like" data-like-id = "<%= like.id %>"   data-user-id = "<%= current_user.id %>" data-flat-id = "<%= @flat.id %>" class="btn btn-primary" data-action="click->like#dislikeFlat"> Disliker </button>
          <% else %>
            <button id = "like" data-user-id = "<%= current_user.id %>" data-flat-id = "<%= @flat.id %>" class="btn btn-primary" data-action="click->like#likeFlat"> Liker </button>
          <% end %>
        <% else %>
          <button id = "not-connected" data-user-id = "" data-flat-id = "<%= @flat.id %>" class="btn btn-primary"> Liker </button>
        <% end %>




      </div>

    </div>
  </div>



</section>
