<section id="flat">
  <div class="controller">
    <h1><%= @flat.title %> d</h1>
    <div class="row">
      <div class="col-7">
        <% if @flat.photos.attached? %>
        <% @flat.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <% else %>
          <%= image_tag "flat-default.jpg" %>
        <% end %>


        <div id="presentation">
          <p><%= @flat.presentation %></p>

        </div>
      </div>
      <div class="col-5" data-controller="like">
        Proposed by:
        <br>
        <b><%= @flat.user.name %></b>

        <% if  current_user and @flat.user != current_user %>
          <% like = Like.find_by(user_id: current_user.id, flat_id: @flat.id) %>
          <% if   Like.where(user_id: current_user.id, flat_id: @flat.id).count != 0 %>
            <button id = "like" data-like-id = "<%= like.id %>"   data-user-id = "<%= current_user.id %>" data-flat-id = "<%= @flat.id %>" class="btn btn-primary" disabled=true > Liké </button>
          <% else %>
            <a id = "match-modal" class="hidden">  </a>
            <button id = "like" data-user-id = "<%= current_user.id %>" data-flat-id = "<%= @flat.id %>" class="btn btn-primary" data-action="click->like#likeFlat"> Liker </button>
          <% end %>
        <% else %>
          <% if @flat.user != current_user %>
            <button id = "not-connected" data-user-id = "" data-flat-id = "<%= @flat.id %>" class="btn btn-primary"> Liker </button>
          <% end %>

        <% end %>




      </div>

    </div>
  </div>



</section>



