<section id="flat" class="pt-4">
  <div class="container">
    <h1 class="pb-3 h2"><%= @flat.title %> d</h1>
    <div class="row">
      <div class="col-7">
        <div class="imglist mb-5">
          <% if @flat.photos.attached? %>
            <div class="mb-2 pr-2 main-img">
              <a data-fancybox="gallery" href="<%= cl_image_path @flat.photos.first.key, height: 394, width: 700, crop: :fill %>">
                <%= cl_image_tag @flat.photos.first.key, height: 394, width: 700, crop: :fill, class: "img-fluid" %>
              </a>
            </div>
          <% end  %>
          <div class="mb-2 d-flex thumb-img">
          <% if  @flat.photos.length >= 2 %>
            <% @flat.photos[1..-1].each do |photo| %>
              <a data-fancybox="gallery" href="<%= cl_image_path photo.key, height: 394, width: 700, crop: :fill  %>">
                <%= cl_image_tag photo.key, height: 90, width: 160, crop: :fill, class: "img-fluid pr-2" %>
              </a>
            <% end %>
          </div>
          <% end %>
          <% if !@flat.photos.attached? %>
            <%= image_tag "flat-default.jpg" %>
          <% end %>
        </div>
        <div id="presentation" class="bg-white-smoke rounded-lg p-4 mb-5">
          <p><%= @flat.presentation %></p>
        </div>
        <div id="equipment" class="bg-white-smoke rounded-lg p-4 mb-5">
          <h3>Equipment</h3>
          <p><%= @flat.presentation %></p>
        </div>
      </div>


      <!--  User presentation -->

      <div class="col-5">
        <div class="bg-white-smoke rounded-lg p-4 mb-5">
           <div id="info" class="d-flex">
           <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar flex-shrink mr-3" %>
            <div class="flex-grow-1">
              Proposed by:
              <br>
              <b class="text-primary"><%= @flat.user.name %></b>
            </div>
           </div>
           <hr>
           <div>
             <p>
               <%= @flat.user.presentation %>
             </p>
           </div>
                   <% if  current_user and @flat.user != current_user %>
          <% like = Like.find_by(user_id: current_user.id, flat_id: @flat.id) %>
          <% if   Like.where(user_id: current_user.id, flat_id: @flat.id).count != 0 %>
            <button id = "like" data-like-id = "<%= like.id %>"   data-user-id = "<%= current_user.id %>" data-flat-id = "<%= @flat.id %>" class="btn btn-primary" disabled=true > Liké </button>
          <% else %>
            <a id = "match-modal" class="hidden">  </a>
            <button id = "like" data-user-id = "<%= current_user.id %>" data-flat-id = "<%= @flat.id %>" class="btn btn-primary" data-action="click->like#likeFlat"> Liker </button>
          <% end %>
        <% else %>
          <% if @flat.user != current_user %>
            <button id = "not-connected" data-user-id = "" data-flat-id = "<%= @flat.id %>" class="btn btn-primary"> Liker </button>
          <% end %>

        <% end %>




        </div>
      </div>


      </div>
      <!--  User presentation -->

    </div>
  </div>



</section>



