<section class="mt-5">
<!-- navigation dashboard   -->
  <div id="dashboard-nav" class="bg-white-smoke border-right col-2">
    <hr class="my-5">
    <ul class="dashboard-menu ">
      <li class="dashboard-menu-item active">
        <a href="<%= user_path(current_user) %>" class="h6">
          <i class="fas fa-user h5 mr-3"></i> My profile
        </a>
      </li>
      <li class="dashboard-menu-item">
        <a href="<%= myflats_path %>" class="h6">
          <i class="fas fa-building h5 mr-3"></i> My flats
      </li>
      <li class="dashboard-menu-item">
        <a href="<%= searches_path() %>" class="h6">
          <i class="fas fa-search h5 mr-3"></i> My searches
        </a>
      </li>
      <li class="dashboard-menu-item">
        <a href="<%= matches_path %>" class="h6">
          <i class="fas fa-heart h5 mr-3"></i> My Matches
        </a>
      </li>
    </ul>

    <div class="match-nav">
        <ul class="matches-menu">
       <% @matchs.each do |match| %>
          <% if match.flat1.user == current_user
            user = match.flat2.user
          else
            user = match.flat1.user
          end %>


          <li class="matches-menu-item <%= "online" if user.online? %> ">
            <a href="<%= match_path(match) %>">
              <div class="avatar-wrapper d-inline-block mr-2">
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key,  height: 150, width: 150, crop: :fill, class: "avatar rounded-circle border border-white"%>
              <% else %>
                  <%= image_tag "noavatar.png",  height: 150, width: 150, crop: :fill, class: "avatar rounded-circle border border-white"%>
              <% end %>
              </div>
              <%= user.name %> <span class="online-badge badge badge-pill badge-success text-white small">online</span>
            </a>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
  </div>
<!-- / navigation dashboard   -->

<div class="messages-container flex-grow-1 pt-4">
        <div class="row">
            <div class="col-12 p-5">
              <h1 class="mb-4 h3">My profile</h1>
              <div class="d-flex align-items-center justify-content-start rounded-lg p-4 bg-white-smoke">
                    <% if @user.photo.attached? %> <%= cl_image_tag @user.photo.key, class: "d-block avatar-x-large rounded-circle img-fluid mr-3" %>
                    <% else %>
                     <%= image_tag "noavatar.png", height: 140, width: 140 , crop: :fill, class:"d-block rounded-circle img-fluid mb-3" %>
                    <% end %>
                    <div class="p-3 ">
                        <p class="h4 text-primary mb-0"><%= @user.name %>
                          <% if current_user == @user %>
                            <%= link_to edit_user_path(current_user) , class: "btn btn-primary" do %>
                                <i class="far fa-edit"></i>
                            <% end %>
                          <% end %>
                        </p>
                        <p class="h5 mb-0"><%= @user.university %></p>
                    </div>
              </div>
            <div id="pres" class="d-block mt-4 p-4 bg-white-smoke  rounded-lg">
              <p><%= @user.presentation %></p>
            </div>
            </div>
        </div>

</div>



</section>







