<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top border-bottom px-5 ">
  <%= link_to root_path, class: "navbar-brand" do %>
    <span class="text-primary font-weight-normal h4 pl-2">fla</span><span class="text-secondary font-weight-bold h4">tender</span>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<% if controller_name == "flats" && action_name == "index" %>
  <div class="col-6">
    <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
    <div class="form-group mb-0 bg-gray-6 no-algolia-icon d-flex justify-content-start rounded">
      <div class="d-flex align-items-center px-3 py-2">
        <i class="fas h2 text-primary fa-map-marker-alt"></i>
      </div>
      <div class="d-flex align-items-center flex-grow-1 px-0 py-2">
        <input class="border-0 bg-gray-6 my-0 px-0 w-100" type="text" name="search[query]" id="flat_address">
      </div>
    </div>
    <% end %>
  </div>
<% end %>






  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Matchs", matches_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key,  class: "avatar rounded-circle dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar rounded-circle dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>



          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Voir tous les appartements", flats_path, class: "dropdown-item" %>
            <%= link_to "Ajouter un appartement", new_flat_path, class: "dropdown-item" %>
            <%= link_to "Profil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
