<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top border-bottom px-5 ">
  <%= link_to root_path, class: "navbar-brand" do %>
    <span class="text-primary font-weight-normal h4 pl-2">fla</span><span class="text-secondary font-weight-bold h4">tender</span>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if controller_name == "flats" && action_name == "index" %>
    <div class="row w-60">
    <div class="col-8 d-flex align-items-center">
      <%= simple_form_for :search, url: flats_path, method: :get, :html=> { class: 'w-100' } do |f| %>
      <div class="form-group mb-0 bg-gray-6 no-algolia-icon d-flex w-100 justify-content-start rounded">
        <div class="d-flex align-items-center px-3 py-2">
          <i class="fas h2 text-primary fa-map-marker-alt"></i>
        </div>
        <div class="d-flex align-items-center flex-grow-1 px-0 py-2">
          <% if @city_params %>
            <input class="border-0 bg-gray-6 my-0 px-0 w-100" type="text" name="search[query]" id="flat_address" value="<%= @city_params[:query] %>">
          <% elsif @city_query_params %>
            <input class="border-0 bg-gray-6 my-0 px-0 w-100" type="text" name="search[query]" id="flat_address" value="<%= @city_query_params %>">
          <% else %>
            <input placeholder="Where will you study ?" class="border-0 bg-gray-6 my-0 px-0 w-100" type="text" name="search[query]" id="flat_address">
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-4 d-flex align-items-center">
      <button id="" class="btn btn-outline-primary filter-button p-3" type="button"> filter <i class="fas fa-filter"></i></button>
    </div>
    </div>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Matchs", matches_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a href="<%=user_path(current_user)  %>" class="text-primary mx-3 font-weight-bold"> <%= current_user.name  %> </a>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key,  class: "avatar rounded-circle dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "noavatar.png", class: "avatar rounded-circle dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "See all flats", flats_path, class: "dropdown-item" %>
            <%= link_to "Add your flat", new_flat_path, class: "dropdown-item" %>
            <%= link_to "Profil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log-out", destroy_user_session_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
