<section id="matches" class="mt-5">
<!-- navigation dashboard   -->
  <div id="dashboard-nav" class="bg-white-smoke border-right col-2">
    <hr class="my-5">
    <ul class="dashboard-menu">
      <li class="dashboard-menu-item">
        <a href="<%= user_path(current_user) %>" class="h6">
          <i class="fas fa-user h5 mr-3"></i> My profile
        </a>
      </li>
      <li class="dashboard-menu-item active">
        <a href="<%= matches_path() %>" class="h6">
          <i class="fas fa-heart h5 mr-3"></i> My Matches
        </a>
      </li>
    </ul>

    <div class="match-nav">
       <% @matchs.each do |match| %>
          <% if match.flat1.user == current_user
            user = match.flat2.user
          else
            user = match.flat1.user
          end %>
        <ul class="matches-menu">
          <li class="matches-menu-item">
            <a href="<%= match_path(match) %>" class="h6">
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key,  height: 150, width: 150, crop: :fill, class: "avatar rounded-circle mr-3 border border-white"%>
              <% else %>
                  <%= image_tag "noavatar.png",  height: 150, width: 150, crop: :fill, class: "avatar rounded-circle mr-3 border border-white"%>
              <% end %>
              <%= user.name %>
            </a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  </div>
<!-- / navigation dashboard   -->


<!-- Chat  -->
<div class="messages-container flex-grow-1 pt-4">
      <% if @match %>
      <div class="messages" id="messages" data-matchId="<%= @match.id %>" data-userId="<%= current_user.id %> " >
         <% @match.messages.each do |message| %>
            <% if message.user == current_user %>
          <%= render 'shared/sent_message', message: message %>
            <% else %>
          <%= render 'shared/received_message', message: message %>
             <% end %>
          <% end %>
      </div>

    <!-- Formulaire  -->
      <div class="message-form bg-white p-4 border-top min-height-115">
        <%= simple_form_for [ @match, @message ], remote:true do |f| %>
          <div class="search-form-control form-row">
            <div class="col-8">
              <%= f.input :content, class: "form-control form-control-lg string required w-75", id: "form-submit", label: false, placeholder: "Entrez votre message ici..." %>
            </div>
            <div class="col-4 chat-buttons">
              <button id= "submit-message" type="submit" class="btn btn-danger"><i class="fas fa-paper-plane"></i> </button>
              <%= f.input :image, as: :file ,input_html: { class: 'd-none hidden', id: 'message-image'}, label_html: { class: 'btn btn-danger ml-1'}, label: '<i class="fas fa-image"></i>'.html_safe  %>
            </div>
          </div>

        <% end %>
      </div>

    <!-- /Formulaire  -->
     <% end %>
    </div>

<!-- /Chat  -->


<!-- flat detail  -->
  <div class="flat-details bg-white border-left">
     <hr class="my-5">
      <% if @user %>
        <div class="d-flex px-4">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key,  height: 150, width: 150, crop: :fill, class: "avatar-large rounded-circle mr-3"%>
        <% else %>
          <%= image_tag "noavatar.png", class: "avatar-large rounded-circle mr-3"%>
        <% end %>

        <div>
          <p class="mb-0">Proposed by</p>
          <p class="text-primary h4 font-weight-bold"> <%= @user.name %></p>
         </div>
      </div>

        <hr>

        <div class="flat-desc px-4 border-bottom">
          <h6> <%= @flat.title %></h6>
          <p><%= @flat.presentation.truncate(150) %><a href="<%= flat_path(@flat) %>" class="text-primary font-weight-bold">view flat details</a></p>
          <p class="text-primary">Availaibility of the appartment</p>
          <p>Septembre 2021 - Aout 2022 (Date flexible)</p>
        </div>

        <% if @flat.photos.attached? %>
          <div class="flat-photos">
            <div class="row m-0 p-4">
            <% @flat.photos.each do |photo| %>
              <div class="col-3 p-1">
              <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill, class: "img-fluid" %>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>

         <div class="generate-contract bg-white p-4 border-top min-height-115">
          <% if @contract %>
            <%= link_to 'View your contract', match_contract_path(params[:id], @contract.id), class: "btn-style-01 p-3 text-white rounded text-uppercase" %>
          <% else %>
            <%= link_to 'Generate your contract', match_contracts_path(params[:id]), method: :post, class: "btn-style-01 p-3 text-white rounded text-uppercase" %>
          <% end %>

         </div>
      <% end %>

    </div>
    <!-- /flat detail  -->
</section>

<script>


function submitForm() {
   // Get the first form with the name
   // Usually the form name is not repeated
   // but duplicate names are possible in HTML
   // Therefore to work around the issue, enforce the correct index
   var frm = document.getElementById('form-submit');
   frm.reset();  // Reset all form data
   return false; // Prevent page refresh
}




</script>
