


  <div class="row">

    <div class="col-12 col-lg-2 matches-list">
      <div class="d-flex">
        <i class="fas fa-search ml-1"></i>

        <p>Mes recherches</p>
      </div>
      <div class="d-flex">
        <i class="fas fa-user ml-1"></i>
        <%= link_to user_path(current_user) do %>

        <p>Mon profil</p>
        <% end %>

      </div>
      <div class="d-flex">
        <i class="fas fa-heart ml-1"></i>
        <p>Mes Matchs</p>

      </div>

      <div class="match-container">
        <% @matchs.each do |match| %>
          <%
            if match.flat1.user == current_user

              user = match.flat2.user
            else

              user = match.flat1.user
            end
           %>
          <div class="d-flex">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key,  height: 150, width: 150, crop: :fill, class: "avatar rounded-circle dropdown-toggle"%>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar rounded-circle dropdown-toggle"%>
            <% end %>

            <%= link_to match_path(match) do %>
              <p><%= user.name %></p>
            <% end %>

          </div>
        <% end %>
      </div>

    </div>

    <div class="col-12 col-lg-7 messages-container container">
      <% if @match %>
      <div class="messages" id="messages" data-matchId = "<%= @match.id %>" >


              <% @match.messages.each do |message| %>
                <% if message.user == current_user %>
                  <%= render 'shared/sent_message', message: message %>
                <% else %>
                  <%= render 'shared/received_message', message: message %>
                <% end %>

              <% end %>

      </div>
      <div class="message-form">
        <%= simple_form_for [ @match, @message ] do |f| %>
          <div class="search-form-control form-group">
            <%= f.input :content, class: "form-control string required", label: false, placeholder: "Entrez votre message ici..." %>
            <button type="submit" class="btn btn-danger"><i class="fas fa-paper-plane"></i> </button>
          </div>

        <% end %>
      </div>
      <% end %>
    </div>


    <div class="col-12 col-lg-3 flat-details">
       <% if @user %>

        <div class="flat-owner d-flex">

        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key,  height: 150, width: 150, crop: :fill, class: "avatar rounded-circle dropdown-toggle"%>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar rounded-circle dropdown-toggle"%>
        <% end %>

        <div>
          <p>Proposed by</p>
          <h3 class="text-primary"> <%= @user.name %></h3>

        </div>
        </div>

        <hr>

        <div class = "flat-desc">
          <h6> <%= @flat.title %></h6>

          <p><%= @flat.presentation %> </p>



          <p class="text-primary">Availaibility of the appartment</p>
          <p>Septembre 2021 - Aout 2022 (Date flexible)</p>
        </div>

         <hr>

         <div class="flat-photos">
            <% @flat.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill, class: "img-fluid rounded-lg" %>
            <% end %>
         </div>

         <div>


       <%= link_to 'Generate contract', match_contracts_path(params[:id]), method: :post, class: "btn btn-primary" %>
         </div>
      <% end %>


